<div style="width: 100%; height: 100%; text-align: center;">
  <h2 style="margin-top: 40px;">Tasks</h2>
  <a [routerLink]="['/frames_on_records_component']" routerLinkActive="router-link-active" ><button mat-stroked-button color="primary" class="link_button">CSS</button></a>
  <a [routerLink]="['/pictures']" routerLinkActive="router-link-active" ><button mat-stroked-button color="primary" class="link_button">JavaScript</button></a>
  <a [routerLink]="['/conference_plan']" routerLinkActive="router-link-active" ><button mat-stroked-button color="primary" class="link_button">Main task</button></a>
</div>
